<a href="https://colab.research.google.com/github/buvir/daily_python_practice/blob/main/Python_Data_Structure_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []
print(a)
print(type(a))

[]
<class 'list'>

In [2]:
# print the value of a

a

[]

In [3]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
languages

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [6]:

for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp=languages[1]

Print the value of temp and type(temp)

In [8]:
temp

'Python'

Append the element 'Java' in the list

In [9]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [10]:

languages.remove(42)

In [11]:
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [13]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [14]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [15]:
colors.insert(1,'Orange')

Print the list

In [16]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [18]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [19]:
colors.extend(colors2)

Print len of colors and its elements

In [21]:
print(len(colors) )

7

Sort the list and print it.

In [22]:

print(sorted(colors))

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [23]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [24]:
words = sent.split()  # Splits the string into a list of words (default splits at whitespace)
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [25]:

words_lower = [word.lower() for word in words]

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [26]:
# Check if 'country' is in the list
if 'country' in words_lower:
    print("'country' is present in the list.")
else:
    print("'country' is NOT present in the list.")

'country' is NOT present in the list.

Remove the element ‘the’ from the list and print the list.

In [27]:

# Remove 'the' from the list (if it exists)
if 'the' in words_lower:
    words_lower.remove('the')

print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [28]:
x4 = words_lower[:4]  # Select the first 4 words using slicing

In [29]:
# print x4

print( x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [30]:
# Convert the list back to a single string using join()
joined_string = ' '.join(words_lower)

print(joined_string)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [31]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [33]:

print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [34]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [35]:
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [37]:
type(stud_grades)

list

In [38]:


type(stud_grades_set)

set

Add a new element ‘G’ to stud_grades_set

In [39]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [40]:

stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'G', 'F', 'B', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [41]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [42]:

print(len(stud_grades_set))

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [43]:

colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [44]:

print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [45]:
# Create sets from the lists
colors_set = set(colors)
fruits_set = set(fruits)

# Print the sets
print("colors_set:", colors_set)
print("fruits_set:", fruits_set)

colors_set: {'blue', 'orange', 'red'}
fruits_set: {'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [48]:

union_set = colors_set.union(fruits_set)
print("Union of sets:", union_set)

Union of sets: {'grapes', 'apples', 'red', 'blue', 'orange'}

Find the intersection of both the sets

In [49]:
intersection_set = colors_set.intersection(fruits_set)


print("Intersection of sets:", intersection_set)

Intersection of sets: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [50]:
fruits_not_colors = fruits_set.difference(colors_set)

print("Fruits that are not colors:", fruits_not_colors)

Fruits that are not colors: {'grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [51]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [52]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [53]:
temp[0] = 11

Set temp1 = tuple(temp)

In [54]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [55]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [58]:
temp1_list = list(temp1)  # Convert to list
temp1_list[0] = 17        # Modify
temp1 = tuple(temp1_list) # Convert back (optional)

In [59]:
temp1

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [60]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [61]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [63]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [64]:
cities = (city, city2)

Print cities

In [65]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [66]:
print(cities[0])

('Bangalore', 28.9949521, 72)

print the type of cities

In [67]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [68]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [69]:
print( d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [70]:

# Add a new key-value pair
d[0] = "new value"  # Now d has key `0`
print(d[0])         # Output: "new value"

new value

In [72]:
actor = d['actor']  # Store the value of key 'actor' into variable 'actor'
print(actor)       # Print the value

amir

Print the type of actor

In [73]:
print(type(d['actor']))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [74]:
List = d['list']  # Store the value of key 'list' in variable List
print(List)      # Print the value

[23, 32, 12]

Print the type of List.

In [75]:
print(type(List))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [77]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}
print(d1)
print(d1['singer'])  # Output: 'Kr$na'
print(d1.get('album'))  # Output: 'Still here'

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}
Kr$na
Still here

Merge d1 into d.

In [78]:
d.update(d1)  # Merges d1 into d
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 0: 'new value', 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [79]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 0: 'new value', 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [80]:
print(list(d.keys()))

['actor', 'animal', 'earth', 'list', 0, 'singer', 'album', 'genre']

Print all the values in d

In [81]:
print(list(d.values()))

['amir', 'cat', 2, [23, 32, 12], 'new value', 'Kr$na', 'Still here', 'hip-hop']

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [82]:
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(0 ----> new value)
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [83]:
# Initialize an empty dictionary
char_count = {}

# Iterate through each character in the string
for char in sent:
    # If character already exists in dictionary, increment its count
    if char in char_count:
        char_count[char] += 1
    # Otherwise, add it to dictionary with count 1
    else:
        char_count[char] = 1

# Print the character count dictionary
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}

In [84]:
from collections import Counter
char_count = Counter(sent)
print(dict(char_count))

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}